* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(208, 234, 255, 1) 15%, rgba(200, 214, 224, 1) 39%, rgba(185, 217, 242, 1) 60%, rgba(200, 214, 224, 1) 80%);
}

#container {
  text-align: center;
}

.wrapper {
  position: relative;
  max-width: 420px;
  width: 100%;
  background: #ffffff;
  padding: 30px 50px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: none;
}

.wrapper.active {
  display: block;
}

.wrapper h1 {
  font-size: 40px;
  position: relative;
  font-weight: 600;
  color: #094067;
  margin-bottom: 40px;
}

.wrapper h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #3da9fc;
}

.input-box {
  position: relative;
  margin: 15px 0;
}

.input-box input,
.input-box select {
  width: 100%;
  outline: none;
  padding: 10px 15px;
  font-weight: 400;
  color: black;
  border: 1.5px solid #094067;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  background-color: transparent;
  font-size: 25px;
  margin-bottom: 15px;
}

.input-box input::placeholder {
  color: #c8d6e0;
}

.input-box input:focus,
.input-box input:valid,
.input-box select:focus,
.input-box select:valid {
  border-color: #3da9fc;
}

.input-box.button {
  flex-grow: 1;
}

.input-box.button input {
  background-color: #ffffff;
  border: 3px solid black;
  color: black;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 10px 15px;
  margin-bottom: 0px;
  height: auto;
}

.input-box.button input:hover {
  background-color: black;
  color: #ffffff;
}

.input-box.button input:active {
  background: #2a76af;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #094067;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #3da9fc;
  color: white;
}

#create-domain-form {
  margin: 0 auto;
}

.form-row {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  font-size: 13px;
}

.form-row label {
  width: 50%;
  padding-right: 10px;
  text-align: right;
  font-size: 25px;
}

.form-row input,
.form-row select {
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #094067;
  color: black;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px 15px;
  margin-bottom: 0px;
  height: auto;
}

#title-create-domain-form {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
}

#action-container {
  margin-top: 15%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#logout-button-wrapper {
  position: absolute;
  top: 25px;
  left: 25px;
}

#logout-button {
  background-color: #f33f3f;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: x-large;
}

#logout-button:hover {
  background-color: #c92b2b;
}

.button-group {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.button-group button {
  font-size: x-large;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  border: none;
  background-color: #3da9fc;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.button-group button.active {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  transition: all 0.3s ease;
}

.button-group button.active:hover {
  transition: all 0.3s ease;
  text-decoration: none;
}

.button-group button:hover {
  background-color: #3086c9;
}

#your-domains-wrapper h1 {
  padding: 5px;
  font-size: 50px;
  margin-bottom: 10px;
}

.btn-rinnova {
  background-color: #f33f3f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: large;
}

.btn-rinnova svg {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  margin-left: 5px;
}

.btn-rinnova:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#successPopup h2 {
  color: black;
  margin-bottom: 10px;
  font-size: 40px;
}

#successPopup p {
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
}

#successPopup button {
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 22px;
}

#successPopup button:hover {
  background-color: black;
  color: #ffffff;
}


#registrationActioButton {
  display: flex;
  align-items: center;
}

#cancel-create-domain {
  margin-right: 5px;
  padding: 12px;
  background-color: #ffffff;
  border: 2px solid #f33f3f;
  cursor: pointer;
  border-radius: 10px;
  height: 65px;
}

#trash-icon {
  position: relative;
  height: 100%;
  transition: all 0.3s ease;
}

#trash-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.scaduto {
  color: #777575;
}

.rinnovare {
  color: #f33f3f;
}

#rinnovoPopup h2 {
  margin-bottom: 10px;
}

#rinnovoPopup p {
  margin-bottom: 10px;
}

.yesButton {
  padding: 5px 10px;
  border: none;
  background-color: #3fa04c;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 25px;
  width: 50px;
}

.yesButton:hover {
  background-color: #30863d;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.noButton {
  padding: 5px 10px;
  border: none;
  background-color: #f33f3f;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 25px;
  width: 50px;
}

.noButton:hover {
  background-color: #c92b2b;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 1px solid black;
  text-align: center;
}

#selettore-rinnovo {
  margin-bottom: 15px;
  font-size: 35px;
}

#durata-rinnovo-dominio {
  font-size: 28px;
}

.btn-attivo {
  background-color: #247e54;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.btn-attivo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.btn-attivo svg {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  margin-left: 5px;
}

#disp-dominio {
  font-size: 10px;
  color: #424649;
  text-align: left;
  font-size: medium;
}

#status-dom-view {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

#insert-domain {
  margin-bottom: 0px;
}

#paymentPopup {
  width: 50%;
}

#paymentPopup h2 {
  margin-bottom: 30px;
  font-size: 30px
}

#paymentPopup .row {
  display: flex;
  flex-direction: column;
}

#paymentPopup label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 3px;
}

#paymentPopup input {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 25px;
  border: 1px solid #094067;
}

.column-row {
  display: flex;
  flex-direction: row;
}

#paymentPopup .column {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

#paymentPopup #payment-row {
  margin-top: 35px;
  justify-content: space-between;
}

#paymentPopup #payment-row button {
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

#paymentPopup #payment-row button:hover {
  background-color: black;
  color: #ffffff;
}

#cancelPayment {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
}

#cancelPayment svg {
  display: block;
  position: relative;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  color: #f33f3f;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

#cancelPayment svg:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#notifica {
  position: absolute;
  bottom: 10px;
  left: -300px;
  width: 300px;
  height: 175px;
  transition: all 0.3s linear;
  background-color: #ffffff;
  padding: 25px;
  border: 5px solid #f33f3f;
  border-radius: 20px;
}

#notifica.show {
  left: 10px;
  transition: all 0.3s linear;
}

#notifica p {
  font-size: large;
}

#notifica svg {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notifica svg:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#info-occupato {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}

#info-occupato svg {
  width: 20px;
  height: 20px;
  fill: #f33f3f;
}

#detailStatePopupCloseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
}

#detailStatePopupCloseButton svg {
  width: 35px;
  height: 35px;
  fill: #f33f3f;
  transition: all 0.3s ease;
}

#detailStatePopupCloseButton svg:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#detailStatePopup p {
  font-size: large;
}

#detailStatePopup h2 {
  margin-bottom: 10px;
}

#your-domains-table {
  font-size: 25px;
}

#payment-form h1 {
  font-size: 50px;
}

#payment-form label {
  font-size: 25px;
}

#h2-rinnovo-popup {
  font-size: 40px;
  margin-bottom: 10px;
}