body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 2%, rgba(196, 195, 179, 1) 57%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #register-form {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  #register-form h2 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #register-form div {
    margin-bottom: 20px;
    text-align: left;
  }
  
  #register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
  }
  
  #register-form input {
    width: calc(100% - 20px); /* Adjusting for padding */
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333333;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  #register-form input:focus {
    border-color: #f5cb5c; /* Changed color */
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(245, 203, 92, 0.3); /* Changed color */
  }
  
  #register-form button {
    background-color: #f5cb5c; /* Changed color */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  #register-form button:hover {
    background-color: #e5bb4c; /* Changed color */
  }
  
  #register-form button:active {
    background-color: #d5ab3c; /* Changed color */
  }
  